<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <!--
        <%= url('style.css')%>
        Pour récupérer l'url du fichier CSS dans le langage Ruby
    -->
    <link rel="stylesheet" type="text/css" href="<%= url('/css/style.css')%>">
    <style media="screen">
    </style>
  </head>
  <body>
    <div class="logo">
        <img src="https://lh4.googleusercontent.com/-IVJz3g1mIHA/AAAAAAAAAAI/AAAAAAAABG4/tX9BpU9JPig/photo.jpg" class="logo" alt="mon logo" />
    </div>
    <ul>
      <section class="question">
        <li>Qui sommes nous?</li>
        <li>Comment on vole?</li>
        <li>Pourquoi la liberté?</li>
      </section>
    </ul>
    <nav>
      <section class="sommaire">
        <ul>
          <li>
            <article class="Artiste">
              Artistes
            </article>
          </li>
          <li>
            <article class="Peinture">
              Peinture
            </article>
          </li>
          <li>
            <article class="Sculpture">
              Sculpture
            </article>
          </li>
          <li>
            <article class="Photographie">
              Photographie
           </article>
           </li>
        </ul>
      </section>
    </nav>
    <section class="brach-contener">
      <article class="matrise">
        <div class="img-container brachvogel">
        </div>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras convallis turpis elit. Curabitur placerat euismod convallis. Curabitur quis ullamcorper tortor. Aenean varius varius eros vel scelerisque. Integer facilisis euismod turpis id dignissim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla metus urna, iaculis quis lobortis et, mollis interdum nulla. Phasellus eros risus, congue a luctus efficitur, ultrices nec nunc. Etiam et aliquet libero.
        </p>
      </article>
      <article class="matrise">
        <div class="img-container matrice">
        </div>

        <p>
          Sed et commodo purus, in condimentum eros. Aenean purus lectus, tempus ut sollicitudin vitae, suscipit sit amet massa. Donec malesuada sapien at placerat egestas. Pellentesque volutpat ipsum diam, quis faucibus sem iaculis et. Etiam justo felis, sagittis eu lorem a, semper rhoncus ante. Suspendisse risus dui, tempor vitae libero vel, fermentum convallis orci.
        </p>
      </article>
      <article class="matrise">
        <div class="img-container logo-brach">
        </div>

        <p>
          Ut ac felis ac elit rhoncus eleifend quis id tortor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus vestibulum, leo eu commodo pellentesque, libero neque maximus tellus, nec condimentum massa lectus vel nisi. Vivamus tristique varius risus ac bibendum. Ut sit amet finibus nisl. Sed molestie risus ligula, sit amet scelerisque tellus convallis a. Nulla facilisi.
        </p>
      </article>
    </section>
  </body>
</html>
